@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rowdies&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply bg-[#0198FE] text-white px-2 py-3 sm:px-5 sm:py-4 rounded-[36px] hover:bg-white hover:text-[#0198FE] hover:ring-2 hover:ring-[#0198FE] duration-300  uppercase font-medium shadow-lg;
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.swiper-pagination-bullet-active {
  width: 16px !important;
  height: 16px !important;
}
.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "" !important;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "" !important;
}

/* PartnersMarquee.css */

.custom-marquee {
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)) left, linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)) right;
  background-size: 200px 100%, 200px 100%; /* Adjust the gradientWidth value as needed */
  background-repeat: no-repeat;
}
