@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-bullet-active {
  width: 16px !important;
  height: 16px !important;
}
.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
